<form action="/burma" method="POST" >
<div>
  <label for="name">Name:</label>
  <input type="text" id="name" name="name"/>
</div>
<div>
  <label for="email">Email:</label>
  <input type="email" id="email" name="email"/>
</div>
<p>
  <input type="file" id="take-picture" accept="image/*" name="photo-file">
</p>
<p>
  <button type="button" id="deliver-picture">Submit</button>
</p>
<p>
  <img src="about:blank" alt="" id="show-picture">
</p>
</form>
<script src="{baseURL}/static/js/camera.js"></script>
